<div class="nameSiteBorder">
    <h1 class="nameSite"> TechBlogging </h1>
</div>
<section>

<div class="card"><h2>Log-In</h2></div>

<div class="formDiv">
     <form class="form login-form" >
         <label>USERNAME</label>
         <br>
         <input placeholder="Must be 8 characters..." class="inputBox" id="username-login">
         <br>
         <label>PASSWORD</label>
       <br>
         <input placeholder="Must be 8 characters..." class="inputBox" id="password-login">
         <br>
         <button class="submit">SUBMIT</button>
     </form>
 </div>
 
</section>
<script src="/js/login.js"></script>