<div class="nameSiteBorder">
    <h1 class="nameSite"> DashBoard </h1>
    </div>

<div class="card"><h2>Post</h2></div>

<div class="formDiv">
     <form class="form post-form" >
         <label>TITLE</label>
         <br>
         <input placeholder="Title..." class="inputBox" id="post-title">
         <br>
         <label>Content</label>
       <br>
         <input placeholder="Write here..." class="inputBox" id="post-content">
         <br>
         <button class="submit clickForNewPost">SUBMIT</button>
     </form>
 </div>
 
</section>
<script src="/js/post.js"></script>